@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>If you have any problems, errors or questions write us e-mail at:</strong>   <a href="mailto:flyingbetter.contact@gmail.com">flyingbetter.contact@gmail.com</a><br />
</address>